<!DOCTYPE html>
<html>
<head>
    
    <title>Registration </title>
  
       
                            
                            <fieldset>

                                <legend><b> Registration  </b></legend>
                                 <form method="POST" action="../Controller/My_Sign.php/">
                                    ID  <br> <input type ="text" name="uid" width="200px" placeholder="Enter ID" > </input><br><br>
                                    Password  <br> <input type ="text"name="upassword"placeholder="Enter Password "> </input><br><br>
                                    Confirm Password  <br> <input type ="text"name="cpassword"placeholder="Re-Type password"> </input><br><br>
                                    Name  <br> <input type ="uname" name="uname"placeholder="Enter Name "> </input><br><br>
                                    <input type="radio"  name="utype" value="User">User
			                        <input type="radio" name="utype" value="Admin">Admin<br>
                                    <input type="submit" name="submit" value="Submit">
                                    <input type="reset"> <a href="login.html">Sign In</a>
                                   
                            </fieldset>
                                <br> <br><hr>
                                            
                            </fieldset>
                            </form>
                        
                       
                    
    
    
</body>
</html>