<html>
    <body>

        <fieldset>
            <legend> Doctor's Dashboard </legend>
            <p align='right'><a href="../View/Login.html" id="g2"> Log Out -> </a></p><br>
            <Style>
                    /*#g1{
                        background-color: antiquewhite;
                    }
                    #g2
                    {
                        background-color:cornflowerblue;
                    }*/
                    #t1
                    {
                        background-color:cornsilk;
                    }
            </Style>
            <table border="2" width="800" id="t1">
               <tr>
                <td height=80px>
                    <a href="../View/add_assistant.html" id="g1" align:center>Add Assistant </a> <br>
                </td>
                <td height=80px>
                    <a href="../View/ot_check.html"id="g2"> OT Check  </a><br>
                </td>
                <td height=80px>
                    <a href="../View/Registration.html"id="g2"> Registration </a><br>
                </td>
                <td height=80px>
                    <a href="../View/Add_Profile_pic.html"id="g1"> Change Profile Picture  </a><br>        
                </td>
                <td height=80px>
                    <a href="../View/Assistant_list.php"id="g1"> Assistant List </a><br>        
                </td>
                
            </table>
            
           
           
            </fieldset>
            
        </fieldset>
    </body>
</html>