<!DOCTYPE html>
<html>
<head>
    
    <title>Edit Product </title>
  
       
                            
                            <fieldset>

                                <legend><b> Edit Product  </b></legend>
                                 <form method="POST" action="../Controller/edit_product_check.php">
                                    ID  <br> <input type ="text" name="id" width="200px"  > </input><br><br>
                                    Name  <br> <input type ="text" name="name" width="200px"  > </input><br><br>
                                    Buying Price  <br> <input type ="text"name="buyingprice"> </input><br><br>
                                    Selling Price   <br> <input type ="text"name="sellingprice"> </input><br><br>
                                    Display  <br> <input type ="checkbox"name="dispaly"> </input><br>
                                   
                                  
                                    <input type="submit" name="submit" value="Save">
                                    
                                   
                            </fieldset>
                                <br> <br><hr>
                                            
                            </fieldset>
                            </form>
                        
                       
                    
    
    
</body>
</html>