<!DOCTYPE html>
<html>
<head>
    
    <title>User Registration Form</title>
  
       
                       
                            
                       
                       
                            
							<form align='center' method="POST" action="../Controller/Login_Check.php">
								<fieldset align='center' style="width:300px" >
										<legend>Doctor's Login </legend>
							
											Username  :<input type ="text" name="uname"> </input><br> <br>
											Password  :<input type ="password"name="upassword"> </input><br><hr>
											 <input type ="checkbox"> </input> Remember Me
							
										
										<br> <br>
                                       
													<input type="submit" name="submit" value="Submit">
                                                    <a href= "../View/forget_password.html">Forgot Password ? </a>
									</fieldset>
								</form>
                        
    
    </form>
</body>
</html>