<!DOCTYPE html>
<html>
<head>
    
    <title>Registration </title>
  
       
                            
                            <fieldset>

                                <legend><b> Registration  </b></legend>
                                 <form method="POST" action="../Controller/sign_check.php">
                                    Name  <br> <input type ="text" name="uname" width="200px" placeholder="Enter Name" > </input><br><br>
                                    Password  <br> <input type ="text"name="upassword"placeholder="Enter Password "> </input><br><br>
                                    Confirm Password  <br> <input type ="text"name="cpassword"placeholder="Re-Type password"> </input><br><br>
                                   <br>
                                   <b> User Type</b> <br>
                                    <input type="radio"  name="utype" value="user">User
			                        <input type="radio" name="utype" value="admin">Admin<br><br>
                                    <input type="submit" name="submit" value="Submit">
                                    <input type="reset"> <a href="login.html">Sign In</a>
                                   
                            </fieldset>
                                <br> <br><hr>
                                            
                            </fieldset>
                            </form>
                        
                       
                    
    
    
</body>
</html>