<!DOCTYPE html>
<html>
<head>
    
    <title>User Registration Form</title>
  
       
                            
                            <fieldset>

                                <legend><b> Sign Up  </b></legend>
                                 <form method="POST" action="../Controller/My_Sign.php/">
                                    Username  : <input type ="text" name="uname" width="200px" placeholder="Enter Name" > </input><br><br>
                                    Password  : <input type ="text"name="upassword"placeholder="Enter Password "> </input><br><br>
                                    Confirm Password  : <input type ="text"name="cpassword"placeholder="Re-Type password"> </input><br><br>
                                    Email  : <input type ="email" name="email"placeholder="Enter Email "> </input><br><br>
                                    <input type="submit" name="submit" value="Submit">
                                    <input type="reset"> <a href="login.html">Login</a>
                                            
                            </fieldset>
                                <br> <br><hr>
                                            
                            </fieldset>
                            </form>
                        
                       
                    
    
    
</body>
</html>