
<html>
<head>
            <title> Management Info </title>
</head>

    <style>
    body {
      background-image: url('../Resources/img/6.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    </style>
          <p align='left'><a href="../View/service_list.php"  align:center> <img src="servicetools.png" style="object-position: center; width: 150px; height: 100px;" > <br>Service  </a></p>
         
          <p align='left'><a href="../View/reports_info.php"  align:center> <img src="pinfo.jpg" style="object-position: center; width: 150px; height: 100px;" > <br>Reports Info Of Patients  </a></p>
          
          