<form > 
    <script type = "text/javascript" src=search.js> </script>
Name <br> <input type ="text" class="c2" name="name" width="200px" id="nm1" onkeyup="searchbyajax()"> </input><br><br>
Search By <br>
<select id="selm" name="searchelement">
    <option value=""> </option>
    <option value="Designation">Designation</option>
    <option value="Medecal Officer">Word Boy</option>
    <option value="OT Assistant">OT Assistant</option>
    <option value="Psychriatic">Lab Assistant</option>
    <option value="Research Assistant">Research Assistant</option>
    
   
  
</select><br>

<input type ="button" class="c2" name="btn" width="200px" id="bt1" value="Search"  onclick="searchbyajax()"> 

<div id ="d1"> 


</div>
</form>