<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
	<div class="login">
	<form method="POST" action="../Controller/logCheck.php">
		
			<center><h1>Login</h1></center>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="username" value=""></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" value=""></td>
				</tr>
				<tr>
					<td>Remember Me</td>
					<td><input type="checkbox" name="rem" value=""></td>
				</tr>


				<tr>
					
					<td>
						<input type="submit" name="submit" value="Submit">
						<a href="signup.html"><b>Signup</b></a>
					</td>

				</tr>



			</table>
		
	</form>
	</div>

</body>

</html>