<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="machineList.css">
</head>
<body>


	<center><h1> Diagnostic Medical Imaging Equipment and Accessories</h1></center>
	<div class="machineList">
<table>
    <tr> <th> <b>Serial No</b> </th> <th><b> Machine Name</b></th>  <th><b>Availability </b></th>  </tr>
   <tr> <td> 1</td> <td>Ultra Sound</td> <td>Available </td></tr>
   <tr> <td> 2</td> <td>X-Ray</td><td>Available </td></tr>
   <tr> <td> 3</td> <td>CT Scan Machines</td><td>Not Available </td></tr>
   <tr> <td> 4</td> <td>Dental X-Ray machine</td><td>Not Available </td></tr>
   <tr> <td> 5</td> <td>MRI</td><td>Available </td></tr>
   <tr> <td> 6</td> <td>Doppler</td><td>Available </td></tr>
   <tr> <td> 7</td> <td>X-Ray protection Product</td><td>Available </td></tr>
   <tr> <td> 8</td> <td>Diagnostic Inaging Services</td><td>Available </td></tr>
   <tr> <td> 9</td> <td>CR Machine</td><td>Available </td></tr>
   <tr> <td> 10</td> <td>Mommography Test Centre</td><td>Available </td></tr>
   </table>
   <br>


   <a href="home.php"><b>Back</b></a>
   </div>

</body>
</html>

