body{
	background-color: #b2bec3;
	width: 100%;
	height: 100vh;

	}
.registration{

	width: 700px;
	margin: 0px auto;
	opacity: .7;
	margin-top: 150px;
	padding: 15px;
	border: 1px solid #fff;
}

.registration form a
{
	color: blue;

}

.registration form input{

	margin-top: 10px;
}