<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="time.css">
</head>
<body>

		<center><h1> Doctor's Time Schedule </h1></center>
	<div class="time">
<table>
     <tr><th><b> Doctor's Name</b></th>  <th><b>Qualifucations </b>
     	<th><b>Specialist In</b></th> <th><b>Time </b></th> </tr>

   <tr><td>Prof. Dr. Md. Shah Alam</td> <td>MBBS, DA, FCPS (Anesthesiology) </td> <td>Anesthesiology Specialist</td>
    				<td>
   		               8-1 AM and 7-10 PM
					</td>
				 </tr>

	<tr><td>Dr. Md. Rezaul Sharif</td> <td>MBBS, M.Phil (Radiotherapy)</td> <td>Cancer Specialist</td>
    				<td>
   		               8-1 AM 
					</td>
				 </tr>

	<tr><td>Dr. Tangera Akter</td> <td>MBBS, MS (Surgical Oncology)</td> <td>Breast & Cancer Specialist</td>
    				<td>
   		               8-1 AM and 7-10 PM
					</td>
				 </tr>

	<tr><td>Dr. Umme Habiba Ferdaushi</td> <td>Dr. Umme Habiba Ferdaushi</td> <td>Cardiology Specialist</td>
    				<td>
   		               8-1 AM 
					</td>
				 </tr>

	<tr><td>Prof. Dr. Md. Khoybor Ali</td> <td>MBBS, DCH, FCPS (Ped)</td> <td>Child Specialist</td>
    				<td>
   		               8-1 AM and 7-10 PM
					</td>
				 </tr>

	<tr><td>Dr. Samsun Nahar Sumi</td> <td>MBBS, BCS (Health), FCPS (Pediatrics)</td> <td>Child Specialist</td>
    				<td>
   		               8-1 AM 
					</td>
				 </tr>

	<tr><td>Dr. Kazi Rabeya Naznin</td> <td>BDS, MPH, PGT (Dental)</td> <td>Dental Specialist</td>
    				<td>
   		               8-1 AM and 7-10 PM
					</td>
				 </tr>

	<tr><td>Dr. Md. Shahriar Islam</td> <td>MBBS, BCS (Health), FCPS (ENT)</td> <td>ENT Specialist</td>
    				<td>
   		               8-1 AM and 7-10 PM
					</td>
				 </tr>

	<tr><td>Dr. Abdus Samad Sheikh</td> <td>MBBS, MS (Ophthalmology)</td> <td>Eye Specialist & Surgeon</td>
    				<td>
   		               8-1 AM 
					</td>
				 </tr>
	<tr><td>Dr. Sumaiya Akter</td> <td>MBBS, BCS (Health), FCPS (Gyne & Obs)</td> <td>Gynecologist & Infertility Specialist</td>
    				<td>
   		               8-1 AM and 7-10 PM
					</td>
				 </tr>



   </table>
   <br>

   <a href="home.php"><b>Back</b></a>
   </div>


</body>
</html>