<html>
    <body>

        <fieldset>
            <legend>  Dashboard </legend>
            <Style>
                    /*#g1{
                        background-color: antiquewhite;
                    }
                    #g2
                    {
                        background-color:cornflowerblue;
                    }*/
                    #t1
                    {
                        background-color:cornsilk;
                    }
            </Style>
            <table border="2" width="800" id="t1">
               <tr>
                <td height=80px>
                    <a href="../View/AddProduct.html" id="g1" align:center>Add Product </a> <br>
                </td>
                <td height=80px>
                    <a href="../View/Edit_Product.html"id="g2"> Edit Product </a><br>
                </td>
                <td height=80px>
                    <a href="../View/Display.php"id="g1"> View Product </a><br>        
                </td>
                <td height=80px>
                    <a href="../View/search_page.html"id="g2"> Search Product </a><br>
                                </td>
               </tr> 
            </table>
            
           
           
            </fieldset>
            
        </fieldset>
    </body>
</html>