<!DOCTYPE html>
<html>
<head>
    
    <title>Change Password </title>
  
       
                            
                            <fieldset>

                                <legend><b> Change Password  </b></legend>
                                 <form method="POST" action="../Controller/changepassword.php">
                                    User Name  <br> <input type ="text"name="uname"placeholder="Enter New Password "> </input><br><br>
                                    Current Paswword  <br> <input type ="text" name="crpassword" width="200px" placeholder="Enter Current " > </input><br><br>
                                    New Password  <br> <input type ="text"name="npassword"placeholder="Enter New Password "> </input><br><br>
                                    Confirm Password  <br> <input type ="text"name="cpassword"placeholder="Re-Type password"> </input><br><br>
                                   <br>
                                   <b> User Type</b> <br>
                                    <input type="radio"  name="utype" value="user">User
			                        <input type="radio" name="utype" value="admin">Admin<br><br>
                                    <input type="submit" name="submit" value="Submit">
                                    <input type="reset"> <a href="login.html">Sign In</a>
                                   
                            </fieldset>
                                <br> <br><hr>
                                            
                            </fieldset>
                            </form>
                        
                       
                    
    
    
</body>
</html>